In [2]:
import numpy as np

In [3]:
np.<TAB> #after np.press "tab",you can find the contents in the namespace.

SyntaxError: invalid syntax (<ipython-input-3-cafe7d82c7d0>, line 1)

In [4]:
np? #documentaton on numpy

In [5]:
ar1=np.array([0,1,2,3])# 1 dimensional array

In [6]:
ar2=np.array ([[0,3,5],[2,8,7]]) # 2 dimensional array

In [7]:
ar3=np.array([range(i, i + 3) for i in [2, 4, 6]])

In [8]:
ar3 #for loop iteration,for i=2,range(2,2+3) and it iterates till 6

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

In [9]:
ar1.shape

(4,)

In [10]:
ar2.shape #no.of lists,no. of columns

(2, 3)

In [11]:
ar3.shape

(3, 3)

In [12]:
ar5=np.array([3.14, 4, 2, 3])

In [13]:
ar5 #if one is float,everything else will automatically be assigned in the array.

array([3.14, 4.  , 2.  , 3.  ])

In [14]:
ar5.dtype #why float64

dtype('float64')

In [16]:
ar6=np.arange(12)

In [17]:
ar6 #integers from 0 to 11

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [18]:
ar7=np.arange(3,10,3) # it will display values from 3 to 9 with a stepsize of 3

In [19]:
ar7

array([3, 6, 9])

In [20]:
np.arange(3,10)

array([3, 4, 5, 6, 7, 8, 9])

In [21]:
ar8=np.linspace(0,2,4) #displays 4 values within 0 to2

In [22]:
ar8

array([0.        , 0.66666667, 1.33333333, 2.        ])

In [23]:
ar9=np.ones((2,3,2)) #displays 1 in 3,2 matrix twice

In [24]:
ar9

array([[[1., 1.],
        [1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.],
        [1., 1.]]])

In [28]:
ar1=np.zeros((4,2))

In [29]:
ar1

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [31]:
ar2 = np.eye(3)  #### Produces identity matrix

In [32]:
ar2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [34]:
np.random.seed(100) #what is seed?

In [37]:
ar4=np.random.rand(3) #3 random numbers

In [38]:
ar4

array([0.54340494, 0.27836939, 0.42451759])

In [39]:
ar5=np.random.randn(5)

In [40]:
ar5 #randn not understood

array([ 0.35467445, -0.78606433, -0.2318722 ,  0.20797568,  0.93580797])

In [51]:
ar6=np.empty((3,2)) #empty rows can be used to assign values,donno why im getting 1 here.

In [52]:
ar6

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [53]:
ar7=np.tile(np.array([[1,2],[6,7]]),3) #it will repeat the list the no of times you need.

In [54]:
ar7

array([[1, 2, 1, 2, 1, 2],
       [6, 7, 6, 7, 6, 7]])

In [55]:
ar8=np.tile(np.array([[1,2],[6,7]]),(2,2))

In [56]:
ar8 #repeats in a 2*2 matrix

array([[1, 2, 1, 2],
       [6, 7, 6, 7],
       [1, 2, 1, 2],
       [6, 7, 6, 7]])

In [57]:
ar9=np.array([2.,4,6,8])

In [58]:
ar9

array([2., 4., 6., 8.])

In [59]:
sar=np.array(['Goodbye','Welcome','Tata','Goodnight'])

In [61]:
sar.dtype

dtype('<U9')

In [62]:
bar=np.array([True, False, True])

In [63]:
bar.dtype

dtype('bool')

In [64]:
##### NumPy indexing and slicing
ar = np.arange(5)
print(ar) # print entire array
ar[0] ### element 0
ar[1] ### element 1
ar[-1] ### last element
ar[::-1]### reverse the array

[0 1 2 3 4]

array([4, 3, 2, 1, 0])

In [65]:
ar = np.array([[2,3,4],[9,8,7],[11,12,13]])

In [66]:
ar

array([[ 2,  3,  4],
       [ 9,  8,  7],
       [11, 12, 13]])

In [67]:
ar[1,1] #indexing (2nd row 2nd element)

8

In [69]:
ar[2]

array([11, 12, 13])

In [76]:
ar[:,1] # :empty colon indicates theres a value before(0),1(2nd row)

array([ 3,  5, 12])

In [79]:
ar=np.arange(6)

In [80]:
ar

array([0, 1, 2, 3, 4, 5])

In [81]:
ar[1:5:2] #in slicing ':' will be used to slice the element from array, 2nd term from 1 to 4

array([1, 3])

In [84]:
ar[:4] ###The implicit assumption here is that startIndex=0, step=1

array([0, 1, 2, 3])

In [85]:

ar[4:]  ###Start at element 4 until the end

array([4, 5])

In [86]:
ar[::3] ##Slice array with stepValue=3,picksup 3rd 4th element

array([0, 3])

In [87]:
###Multidimensional Array slices

In [88]:
x = np.random.randint(10, size=(3, 4))

In [89]:
x

array([[0, 9, 6, 2],
       [4, 1, 5, 3],
       [4, 4, 3, 7]])

In [90]:
x[:2, :3] # two rows, three columns(excludes 3rd row and 3rd column)

array([[0, 9, 6],
       [4, 1, 5]])

In [91]:
x[:3, ::2] # all rows, every other column ,using stepsize will eliminate columns accordigly

array([[0, 6],
       [4, 5],
       [4, 3]])

In [92]:
x[::-1, ::-1] #reverse

array([[7, 3, 4, 4],
       [3, 5, 1, 4],
       [2, 6, 9, 0]])

In [94]:
x[:, 0] # first column of x

array([0, 4, 4])

In [96]:
x[0:,] #first row of x

array([[0, 9, 6, 2],
       [4, 1, 5, 3],
       [4, 4, 3, 7]])

In [97]:
### ARRAY MASKING

In [98]:
np.random.seed(10)

In [99]:
ar=np.random.randint(0,25,10) #random numbers till 25 with a array 0f 10 numbers

In [100]:
ar

array([ 9,  4, 15,  0, 17, 16, 17,  8,  9,  0])

In [101]:
evenMask=(ar%2==0) #to find out even numbers

In [104]:
evenMask

array([False,  True, False,  True, False,  True, False,  True, False,
        True])

In [105]:
evenNums=ar[evenMask]

In [106]:
evenNums

array([ 4,  0, 16,  8,  0])

In [107]:
ar=np.array(['Hungary','Nigeria','Guatemala','','Poland','','Japan'])

In [108]:
ar ### Note that '' is also an empty string:

array(['Hungary', 'Nigeria', 'Guatemala', '', 'Poland', '', 'Japan'],
      dtype='<U9')

In [109]:
ar[ar=='']='USA' #'' space gets filled or replaced by usa

In [110]:
ar

array(['Hungary', 'Nigeria', 'Guatemala', 'USA', 'Poland', 'USA', 'Japan'],
      dtype='<U9')

In [111]:
### COMPLEX INDEXING
### we illustrate the use of complex indexing to assign values 
### from a smaller array into a larger one

In [112]:
ar=np.arange(15)

In [113]:
ar

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [114]:
ar2=np.arange(0,-10,-1)[::-1] #(0,-10,-1) will apply (-)values and[::-1] will reverse

In [115]:
ar2

array([-9, -8, -7, -6, -5, -4, -3, -2, -1,  0])

In [116]:
####Operations

#### BASIC OPERATIONS

In [118]:
#Basic arithmetic operations work element-wise with scalar operands. 
#They are - +, -, *, /,//, and **.

In [123]:
ar=np.arange(0,7)*5 #from '0' to a total of 7numbers,then multiply with 5

In [124]:
ar

array([ 0,  5, 10, 15, 20, 25, 30])

In [125]:
ar=np.arange(5) ** 4 # to the power 4

In [126]:
ar

array([  0,   1,  16,  81, 256], dtype=int32)

In [130]:
a1=ar ** 0.5

In [131]:
a1

array([ 0.,  1.,  4.,  9., 16.])

In [132]:
###Operations also work element-wise when another array is the second operand as follows

In [137]:
ar=3+np.arange(0, 30,3)

In [138]:
ar

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [141]:
ar2=np.arange(1,11)

In [142]:
ar2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [143]:
### Element-wise subtraction, division, and multiplication

In [144]:
ar-ar2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [145]:
ar/ar2

array([3., 3., 3., 3., 3., 3., 3., 3., 3., 3.])

In [146]:
ar*ar2

array([  3,  12,  27,  48,  75, 108, 147, 192, 243, 300])

In [147]:
ar=np.arange(1,5)

In [148]:
ar

array([1, 2, 3, 4])

In [162]:
ar2=np.arange(5,1,-1) #1,5,-1 doesnt work,(5,1,-1) will give reverse

In [163]:
ar2

array([5, 4, 3, 2])

In [167]:
ar<ar2

array([ True,  True, False, False])

In [168]:
#other NumPy operations such as log, sin, cos, and exp are also element-wise:

In [175]:
ar=np.arange(np.pi, np.pi/2) #check

In [172]:
ar

array([], dtype=float64)

In [173]:
np.sin(ar) #check

array([], dtype=float64)

In [180]:
# check whether both the arrays are in same size or else the multiplication will result in an error

In [176]:
ar=np.arange(0,6)

In [177]:
ar

array([0, 1, 2, 3, 4, 5])

In [184]:
ar2=np.arange(0,6)

In [185]:
ar2

array([0, 1, 2, 3, 4, 5])

In [186]:
ar*ar2

array([ 0,  1,  4,  9, 16, 25])

In [187]:
####NumPy arrays can be transposed

In [189]:
ar=np.array([[1,2,3],[4,5,6]]) #makesure its a 2D array

In [190]:
ar

array([[1, 2, 3],
       [4, 5, 6]])

In [192]:
ar.T # can also use transpose(ar)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [193]:
####REDUCTION OPERATIONS

In [198]:
ar=np.arange(1,5)

In [199]:
ar

array([1, 2, 3, 4])

In [200]:
ar.sum()

10

In [203]:
ar.prod()

24

In [220]:
ar1=np.array([np.arange(1,6),np.arange(1,6)]) #if you dont use np.array it will be displayed in a straight line

In [218]:
ar1

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5]])

In [209]:
ar=np.prod(ar,axis=0) #multiplying columns

In [210]:
ar

array([ 1,  4,  9, 16, 25])

In [231]:
a2=np.arange(0,25)

In [232]:
a2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [234]:
a3=np.array(a2).reshape(5,5)

In [235]:
a3

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [237]:
a3=np.prod(ar,axis=1) #check #Rows

AxisError: axis 1 is out of bounds for array of dimension 1

In [238]:
ar=np.array([[1,2,3],[3,4,5],[5,6,7]])

In [239]:
ar

array([[1, 2, 3],
       [3, 4, 5],
       [5, 6, 7]])

In [241]:
ar.sum()

36

In [242]:
#### STATISTICAL OPERATORS

In [243]:
###np.std(), np.mean(), np.median(), and np.cumsum().

In [244]:
np.random.seed(10) #random seed will keep the values unchanged

In [248]:
ar=np.random.randint(0,10,size=(4,5)) # random values from 0 to 10 values from 0 and align it to a size(makesure '='sign 
next to size)

In [249]:
ar

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0],
       [8, 6, 4, 3, 0],
       [4, 6, 8, 1, 8]])

In [250]:
ar.mean()

4.45

In [251]:
ar.std()

3.427462618322773

In [253]:
ar.var(axis=0) #across rows

array([12.6875,  4.1875, 11.    , 10.75  , 18.1875])

In [255]:
ar.cumsum() # every element adds the previous element

array([ 9, 13, 13, 14, 23, 23, 24, 32, 41, 41, 49, 55, 59, 62, 62, 66, 72,
       80, 81, 89], dtype=int32)

In [256]:
###### LOGICAL OPERATORS

In [264]:
np.all(ar<9) #CHECK #all the elements in the array satisfies the condition then true, else false

False

In [268]:
np.any(ar>13) #CHECK

False

In [269]:
np.random.seed(10)

In [272]:
ar=np.random.randint(1,10,size=(4,4))

In [273]:
ar

array([[4, 1, 5, 7],
       [9, 2, 9, 5],
       [2, 4, 7, 6],
       [4, 7, 2, 5]])

In [275]:
np.any(ar%7==0)

True

In [276]:
np.all(ar>11)

False

In [282]:
ar=np.ones([3,5]) #ones in a matrix form of 3*5

In [279]:
ar

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [291]:
ar2=np.random.randint(1,10,size=(3,5))

In [292]:
ar2

array([[3, 7, 8, 9, 9],
       [3, 1, 7, 8, 9],
       [2, 8, 2, 5, 1]])

In [293]:
ar+ar2 #makesure arrays are in same size or else error

array([[ 4.,  8.,  9., 10., 10.],
       [ 4.,  2.,  8.,  9., 10.],
       [ 3.,  9.,  3.,  6.,  2.]])

In [294]:
ar=np.array([[23,24,25]])

In [295]:
ar.T+ar2

array([[26, 30, 31, 32, 32],
       [27, 25, 31, 32, 33],
       [27, 33, 27, 30, 26]])

In [296]:
###### Array shape manipulation
#### FLATTENING A MULTI-DIMENSIONAL ARRAY
#The np.ravel() function allows you to flatten a multi-dimensional array

In [297]:
ar=np.array([np.arange(1,6), np.arange(10,15)])

In [298]:
ar

array([[ 1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14]])

In [299]:
ar.ravel() #adds everything in a single list

array([ 1,  2,  3,  4,  5, 10, 11, 12, 13, 14])

In [304]:
ar.T.ravel() #transpose of ravel

array([ 1, 10,  2, 11,  3, 12,  4, 13,  5, 14])

In [306]:
ar=np.arange(1,16)

In [309]:
ar.reshape(3,5) # reshape a straight line

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [323]:
ar=np.arange(5)

In [324]:
ar

array([0, 1, 2, 3, 4])

In [326]:
ar.resize((5,))

In [316]:
ar

array([0, 1, 2, 3, 4])

In [327]:
#### ADDING A DIMENSION

In [328]:
ar=np.array([12,13,15])

In [330]:
ar.shape

(3,)

In [331]:
ar=ar[:, np.newaxis] #to add a new dimension

In [332]:
ar

array([[12],
       [13],
       [15]])

In [333]:
ar=ar[:,]

In [334]:
ar

array([[12],
       [13],
       [15]])

In [335]:
# Array sorting

In [345]:
ar=np.array([[1,5],[7,4]])

In [349]:
ar.sort(axis=1) #sorted in rows

In [350]:
ar

array([[1, 4],
       [5, 7]])

In [347]:
ar.sort(axis=0) #sorted in columns

In [348]:
ar

array([[1, 4],
       [7, 5]])

In [351]:
np.min(ar)  #### It returns the minimum element in the array

1

In [352]:
np.max(ar) #returns max value from the array

7

In [353]:
np.argmin(ar) #returns the index number of min

0

In [355]:
np.argmax(ar)#returns the index number of max element

3